@keyframes scroll {
    0% {
        transform: translateX(0);
   }
    100% {
        transform: translateX(calc(-250px * 7));
   }
}
.slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    margin: auto;
    overflow: hidden;
    width: 100%
}

.slider_title{
    width: 90%;
}

.slider::before, .slider::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    width: 90%;
    z-index: 2;
}
.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}
.slider::before {
    left: 0;
    top: 0;
}
.slider .slide-track {
    width: 90%;
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}
.slider .slide {
    height: 100px;
    width: 90%;
}


.competences_container{
    padding-top:30px;
    padding-bottom:30px;
    background-color: red;
    color:white;
}
.competences_title{
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.competences{
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-items:center;
    justify-content: center;
    width: 100%;
    padding-bottom:40px;
}

.competences_developpement{
    width: 45%;
}

.competences_general{
    width: 45%;
}

li{
    font-size:11px;
    list-style: none;
}
h3{
    text-align: center;
}
