.fixed-banner {
  position: fixed;
  top: 0;
padding:10px;
    width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.navbar{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.navbar-icon{
  width: 5%;
  padding-right: 20px;
  cursor: pointer;
}

.navbar-menu{
  background-color: white;
 
 
} 
li{
  list-style: none;
  padding-bottom:5px;
}
.display{
  display:none;
}