.fiche_projet_modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 85%;
}
.close_button {
  position: absolute;
  color:white;
  border-radius: 50%;
  top: 10px;
  right: 10px;
  background-color:red;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.modal_img{
  padding-top:25px;
  width: 100%;
}

p{
  width:90%;
  font-weight: 300;
}

.modal_button{
  display:flex;
  justify-content: flex-end;
  gap:10px;
  position:relative
}

.modal_button button{
  margin-top:15px;
  font-family: "Montserrat", sans-serif;
  padding:5px;
  background-color: red;
  border-radius: 10px;
  border: 1px solid transparent;
  color:white;
}

.modal_button img{
  padding-left:5px;
  width: 12%;
}

